

.fit-image{
object-fit: contain;
height: 20vh;
}

.fit-single-image{
object-fit: contain;
height: 25vh;
}

.fit-eli{
  object-fit: contain;
  height: 25vh;
}

.pointer:hover {
    cursor:pointer;
}

.paddingTop{
  padding-top: 20px;
  font-size: 20px;
}

.fit-single-cart{
object-fit: contain;
height: 15vw
}

.fit-single-shakeweight{
object-fit: contain;
height: 13vw;
width: 17vw;
}

.backdrop {
    z-index: 1;
    background: rgba(0, 0, 0, 0.384);
    left: 0;
    top: 0;
}

.fit-single-cart-confirm{
object-fit: contain;
height: 16vw
}

.fit-single-shakeweight-confirm{
object-fit: contain;
height: 6vw;
width: 11vw;
}

.warningDiv{
  margin-top: -7px;
}
.showError{
  display: block;
}

@media screen and (max-width: 813px){
  .total{
    font-size: 28px!important ;
  }
}

@media screen and (max-width: 616px){
.small-checkout{
  font-size: 20px;
}
p{
  font-size: 18px;
}
.fit-eli{
  height: 19vh;
}
}
