.fit-image{
object-fit: contain;
height: 20vh;
}

.fit-single-image{
object-fit: contain;
height: 30vh;
}

.pointer:hover {
    cursor:pointer;
}

.paddingTop{
  padding-top: 20px;
  font-size: 20px;
}

.fit-single-cart{
object-fit: contain;
height: 15vw
}

.fit-single-shakeweight{
object-fit: contain;
height: 13vw;
width: 17vw;
}
