.fit-image{
object-fit: contain;
height: 20vh;
}

.fit-single-image{
object-fit: contain;
height: 30vh;
}

.pointer:hover {
    cursor:pointer;
}

.paddingTop{
  padding-top: 20px;
  font-size: 20px;
}

.fit-single-cart{
object-fit: contain;
height: 15vw
}

.fit-single-shakeweight{
object-fit: contain;
height: 13vw;
width: 17vw;
}

.backdrop {
    z-index: 1;
    background: rgba(0, 0, 0, 0.384);
    left: 0;
    top: 0;
}

.fit-single-cart-confirm{
object-fit: contain;
height: 8vw
}

.fit-single-shakeweight-confirm{
object-fit: contain;
height: 6vw;
width: 11vw;
}

.warningDiv{
  margin-top: -7px;
}
.showError{
  display: block;
}
